/* Tipografía */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');


/* reset*/

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 100%;
    box-sizing: border-box;
}

/*
PALETA DE COLORES
amarillo #F5CC14
celeste #2091F5
azul #1E68A8
violeta #681EA8
fuscia #8607F5
*/

/* BARRA DE NAVEGACION */
/* vista celulares */
header {
    position: fixed;
    display: block;
    width: 100%;
    height: 80px;
    padding: 10px;
    z-index: 1;
    background: #FFF;
    top: 0;
    z-index: 10;
}
header .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 header .navbar .isologo {
    height: 60px;
    width: 220px;
}
header .navbar .isologo .iso {
    position: absolute;
    width: 60px;
    height: 60px;
}
header .navbar .isologo .iso .isoimg {
    width: 100%;
    height: 100%;
}
header .navbar .isologo .logo {
    font-family: "Dancing Script";
    font-size: 40px;
    line-height: 100%;
    color: #681EA8;
    padding: 10px 10px 10px 70px;
}
header .navbar .desplegar_menu {
    padding: 10px;
}
header .navbar .desplegar_menu:hover {
    background-color: #F5CC14;
}
header .navbar .menu {
    display: none;
    justify-content: end;
}
header .navbar .menu .menu_item a {
    position: relative;
    color: #1E68A8;
    transition: all .5s;
    padding: 10px;
}
header .navbar .menu .menu_item a:hover {
    background: #F5CC14;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        height: 90px;
    }
    header .navbar .isologo {
        height: 70px;
        width: 270px;
    }
    header .navbar .isologo .iso {
        position: absolute;
        width: 70px;
        height: 70px;
    }
    header .navbar .isologo .logo {
        font-family: "Dancing Script";
        font-size: 50px;
        line-height: 100%;
        color: #681EA8;
        padding: 10px 10px 10px 80px;
    }
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 100px;
    }
    header .navbar .isologo {
        height: 80px;
        width: 310px;
    }
    header .navbar .isologo .iso {
        position: absolute;
        width: 80px;
        height: 80px;
    }
    header .navbar .isologo .logo {
        font-family: "Dancing Script";
        font-size: 60px;
        line-height: 100%;
        color: #681EA8;
        padding: 10px 10px 10px 90px;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    header {
        height: 110px;
        background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5) 75%, rgba(255,255,255,0));;
    }
    header .navbar .isologo {
        height: 90px;
        width: 350px;
    }
    header .navbar .isologo .iso {
        position: absolute;
        width: 90px;
        height: 90px;
    }
    header .navbar .isologo .logo {
        font-family: "Dancing Script";
        font-size: 50px;
        line-height: 100%;
        color: #681EA8;
        padding: 10px 10px 10px 80px;
    }
    header .navbar .isologo .logo {
        font-family: "Dancing Script";
        font-size: 70px;
        line-height: 100%;
        color: #681EA8;
        padding: 10px 10px 10px 100px;
    }
    header .navbar .desplegar_menu {
        display: none;
    }
    header .navbar .menu {
        display: flex;
        width: calc(100% - 350px);
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    header {
        height: 120px;
        background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5) 75%, rgba(255,255,255,0));;
    }
    header .navbar .isologo {
        height: 100px;
        width: 400px;
    }
    header .navbar .isologo .iso {
        position: absolute;
        width: 100px;
        height: 100px;
    }
    header .navbar .isologo .logo {
        font-family: "Dancing Script";
        font-size: 80px;
        line-height: 100%;
        color: #681EA8;
        padding: 10px 10px 10px 110px;
    }
    header .navbar .desplegar_menu {
        display: none;
    }
     header .navbar .menu {
        display: flex;
        width: calc(100% - 400px);
    }
}



/* FOOTER */
/* vista celulares */
footer {
    position: relative;
    padding: 20px;
    background-color: #2091F5;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
}
footer .isologo {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .isologo .iso {
    width: 40px;
    height: 40px;
}
footer .isologo .iso .isoimg {
    width: 100%;
    height: 100%;
}
footer .isologo .logo {
    font-family: "Dancing Script";
    font-size: 1.875rem;
    line-height: 100%;
    color: #681EA8;
    padding: 5px 10px;
}
footer .navbarRedes {
    width: 100%;
    text-align: center; 
    margin-top: 20px;  
}
footer .navbarRedes ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
footer .navbarRedes ul li {
    width: 50px;
}
footer .navbarRedes ul li a {
    display: block;
    font-size: 1.25rem;
    color: #FFF;
}
footer .navbarRedes ul li a img {
    width: 30px;
    height: 30px;
}
footer .navbarLegales {
    width: 100%;
    text-align: center; 
    margin-top: 20px;  
}
footer .navbarLegales ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
footer .navbarLegales ul li {
    position: relative;
}
footer .navbarLegales ul li a {
    display: block;
    font-size: 1rem;
    color: #FFF;
    padding: 10px;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    footer .isologo {
        height: 50px;
        width: 220px;
    }
    footer .isologo .iso {
        width: 50px;
        height: 50px;
    }
    footer .isologo .logo {
        font-size: 2.5rem;
    }
    footer .navbarRedes {
        width: calc((100% - 220px)/2);
        text-align: center; 
        margin-top: 0px;  
    }    
    footer .navbarLegales {
        width: calc((100% - 220px)/2);
        text-align: center; 
        margin-top: 0px;  
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    footer .isologo {
        height: 60px;
        width: 280px;
    }
    footer .isologo .iso {
        width: 60px;
        height: 60px;
    }
    footer .isologo .logo {
        font-size: 3.125rem;
    }
    footer .navbarRedes {
        width: calc((100% - 280px)/2);
        text-align: center; 
        margin-top: 0px;  
    }    
    footer .navbarLegales {
        width: calc((100% - 280px)/2);
        text-align: center; 
        margin-top: 0px;  
    }
}



/* MAIN */
/* vista celulares */
main {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    main {
        margin-top: 90px;
    }
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        margin-top: 100px;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    main {
        margin-top: 0px;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    main {
        margin-top: 0px;
    }
}




/* PROMOS */
/* vista celulares */
.promos {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}
.promos .promoVentana .promosContenedor .promo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}
.promos .promoVentana .promosContenedor .promo1 {
    z-index: 3;
    animation-name: promo1anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.promos .promoVentana .promosContenedor .promo2 {
    z-index: 2;
    animation-name: promo2anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.promos .promoVentana .promosContenedor .promo3 {
    z-index: 1;
    animation-name: promo3anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes promo1anim {
    0%   {
        opacity: 1;
    }
    33%  {
        opacity: 1;
    }
    34%  {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes promo2anim {
    0%   {
        opacity: 0;
    }
    33%  {
        opacity: 0;
    }
    34%  {
        opacity: 1;
    }
    66%  {
        opacity: 1;
    }
    67%  {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.promos .promoVentana .promosContenedor .promo .promo_imagen {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.promos .promoVentana .promosContenedor .promo .promo_texto {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    font-size: 2rem;
    z-index: 1;
    text-align: center;
}
.promos .promoVentana .promosContenedor .promo .promo_texto h2 {
    font-size: 2rem;
}
.promos .promoVentana .promosContenedor .promo .promo_texto h3 {
    font-size: 1rem;
    font-weight: normal;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .promos {
        height: calc(100vh - 90px);
    }
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .promos {
        height: calc(100vh - 100px);
        min-height: 400px;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .promos {
        height: 50vh;
        min-height: 400px;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .promos {
        height: 50vh;
        min-height: 400px;
    }
}



/* Seccion tortas HOME */
/* vista celulares */
.tortas {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}
.tortas .titulo {
    width: 100%;
    padding: 10px;
    font-size: 2.25rem;
    font-family: "Dancing Script";
    text-align: center;
    margin-top: 30px;
}
.tortas .tortasContenedor {
    position: relative;
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
}
.tortas .tortasContenedor .torta {
    position: relative;
    width: 100%;
    height: 100%;
}
.tortas .tortasContenedor .torta4 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.tortas .tortasContenedor .torta2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.tortas .tortasContenedor .torta3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.tortas .tortasContenedor .torta1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.tortas .tortasContenedor .torta5 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.tortas .tortasContenedor .torta6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.tortas .tortasContenedor .torta .tortaFoto {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.tortas .tortasContenedor .torta .tortaTexto {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: "Dancing Script";
    font-size: 1.5rem;
    text-align: center;
    background: none;
    transition: all .5s;
    opacity: 0;
}
.tortas .tortasContenedor .torta .tortaTexto:hover {
    background: rgba(255, 255, 255, .8);
    opacity: 1;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .tortas .tortasContenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
    .tortas .tortasContenedor .torta4 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .tortas .tortasContenedor .torta2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .tortas .tortasContenedor .torta3 {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }
    .tortas .tortasContenedor .torta1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .tortas .tortasContenedor .torta5 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        display: none;
    }
    .tortas .tortasContenedor .torta6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tortas .titulo {
        font-size: 2.625rem;
    }
    .tortas .tortasContenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
    .tortas .tortasContenedor .torta4 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .tortas .tortasContenedor .torta2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .tortas .tortasContenedor .torta3 {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }
    .tortas .tortasContenedor .torta1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .tortas .tortasContenedor .torta5 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        display: none;
    }
    .tortas .tortasContenedor .torta6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .tortas .titulo {
        font-size: 3rem;
    }
    .tortas .tortasContenedor {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, 200px);
    }
    .tortas .tortasContenedor .torta4 {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta2 {
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta3 {
        grid-column: 4 / 6;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta1 {
        grid-column: 6 / 7;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta5 {
        grid-column: 8 / 9;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta6 {
        grid-column: 7 / 8;
        grid-row: 1 / 1;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .tortas .titulo {
        font-size: 3.375rem;
    }
    .tortas .tortasContenedor {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, 250px);
    }
    .tortas .tortasContenedor .torta4 {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta2 {
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta3 {
        grid-column: 4 / 6;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta1 {
        grid-column: 6 / 7;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta5 {
        grid-column: 8 / 9;
        grid-row: 1 / 1;
    }
    .tortas .tortasContenedor .torta6 {
        grid-column: 7 / 8;
        grid-row: 1 / 1;
    }
}


/* Seccion tortas TORTAS */
.paginaTortas .tortas .titulo {
    font-size: 2.5rem;
}
.paginaTortas .tortas .volver {
    display: block;
    position: absolute;
    top: 35px;
    right: 10px;
    padding: 5px;
    color: #681EA8;
    transition: opacity .5s;
    z-index: 1;
}
.paginaTortas .tortas .volanta {
    padding: 10px;
    font-family: "Dancing Script";
    text-align: center;
    font-size: 1.5rem;
}
.paginaTortas .tortas .volver:hover {
    opacity: .5;
}
.paginaTortas .tortas .tortasContenedor {
    position: relative;
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 200px);
}
.paginaTortas .tortas .tortasContenedor .torta {
    display: block;
}
.paginaTortas .tortas .tortasContenedor .torta4 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.paginaTortas .tortas .tortasContenedor .torta2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.paginaTortas .tortas .tortasContenedor .torta3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.paginaTortas .tortas .tortasContenedor .torta1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.paginaTortas .tortas .tortasContenedor .torta5 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.paginaTortas .tortas .tortasContenedor .torta6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.paginaTortas .tortas .tortasContenedor .torta7 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
}
.paginaTortas .tortas .tortasContenedor .torta8 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.paginaTortas .tortas .tortasContenedor .torta11 {
    grid-column: 2 / 3;
    grid-row: 6 / 8;
}
.paginaTortas .tortas .tortasContenedor .torta10 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}
.paginaTortas .tortas .tortasContenedor .torta9 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
}
.paginaTortas .tortas .tortasContenedor .torta12 {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .paginaTortas .tortas .tortasContenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 200px);
    }
    .paginaTortas .tortas .tortasContenedor .torta1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .paginaTortas .tortas .tortasContenedor .torta2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta4 {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta5 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta6 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .paginaTortas .tortas .tortasContenedor .torta7 {
        grid-column: 3 / 4;
        grid-row: 4 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta8 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta9 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta10 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta11 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta12 {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    }
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .paginaTortas .tortas .titulo {
        font-size: 3rem;
    }
    .paginaTortas .tortas .volanta {
        font-size: 2rem;
    }
    .paginaTortas .tortas .tortasContenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
    .paginaTortas .tortas .tortasContenedor .torta1 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    .paginaTortas .tortas .tortasContenedor .torta2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta4 {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta5 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta6 {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
    .paginaTortas .tortas .tortasContenedor .torta7 {
        grid-row: 3 / 4;
        grid-column: 4 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta8 {
        grid-row: 1 / 2;
        grid-column: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta9 {
        grid-row: 1 / 2;
        grid-column: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta10 {
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta11 {
        grid-row: 2 / 3;
        grid-column: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta12 {
        grid-row: 3 / 4;
        grid-column: 6 / 7;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .paginaTortas .tortas {
        margin-top: 90px;
    }
    .paginaTortas .tortas .titulo {
        font-size: 3.2rem;
    }
    .paginaTortas .tortas .volanta {
        font-size: 2.1rem;
    }
    .paginaTortas .tortas .tortasContenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
    .paginaTortas .tortas .tortasContenedor .torta1 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    .paginaTortas .tortas .tortasContenedor .torta2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta4 {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta5 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta6 {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
    .paginaTortas .tortas .tortasContenedor .torta7 {
        grid-row: 3 / 4;
        grid-column: 4 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta8 {
        grid-row: 1 / 2;
        grid-column: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta9 {
        grid-row: 1 / 2;
        grid-column: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta10 {
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta11 {
        grid-row: 2 / 3;
        grid-column: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta12 {
        grid-row: 3 / 4;
        grid-column: 6 / 7;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .paginaTortas .tortas {
        margin-top: 100px;
    }
    .paginaTortas .tortas .titulo {
        font-size: 3.5rem;
    }
    .paginaTortas .tortas .volanta {
        font-size: 2.3rem;
    }
    .paginaTortas .tortas .tortasContenedor {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
    .paginaTortas .tortas .tortasContenedor .torta1 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    .paginaTortas .tortas .tortasContenedor .torta2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .paginaTortas .tortas .tortasContenedor .torta4 {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta5 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    .paginaTortas .tortas .tortasContenedor .torta6 {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
    .paginaTortas .tortas .tortasContenedor .torta7 {
        grid-row: 3 / 4;
        grid-column: 4 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta8 {
        grid-row: 1 / 2;
        grid-column: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta9 {
        grid-row: 1 / 2;
        grid-column: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta10 {
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }
    .paginaTortas .tortas .tortasContenedor .torta11 {
        grid-row: 2 / 3;
        grid-column: 6 / 7;
    }
    .paginaTortas .tortas .tortasContenedor .torta12 {
        grid-row: 3 / 4;
        grid-column: 6 / 7;
    }
}







/* Seccion conoceme HOME */
/* vista celulares */
.conoceme {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #F5CC14;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.conoceme .conocemeTextos {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    order: 1;
}
.conoceme .conocemeTextos .volanta {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 1.2rem;
}
.conoceme .conocemeTextos .titulo {
        width: 100%;
        font-size: 2.25rem;
        font-family: "Dancing Script";
        text-align: center;
        margin-bottom: 20px;
}
.conoceme .conocemeTextos .texto {
    margin-bottom: 20px;
}
.conoceme .conocemeTextos .botonVer {
    width: 100%;
    padding: 5px;
    color: #FFF;
}
.conoceme .conocemeTextos .botonVer:hover {
    color: #681EA8;
}
.conoceme .conocemeFotoCont {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    align-self: stretch;
    order: 2;
}
.conoceme .conocemeFotoCont .conocemeFoto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .conoceme .conocemeTextos {
        width: 50%;
        order: 2;
    }
    .conoceme .conocemeFotoCont {
        width: 50%;
        padding-bottom: 30%;
        order: 1;
    }
    .conoceme .conocemeTextos .volanta {
        font-size: 1.3;
    }
    .conoceme .conocemeTextos .titulo {
        font-size: 2.625rem;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .conoceme .conocemeTextos {
        width: 50%;
        order: 2;
    }
    .conoceme .conocemeFotoCont {
        width: 50%;
        padding-bottom: 30%;
        order: 1;
    }
    .conoceme .conocemeTextos .volanta {
        font-size: 1.4;
    }
    .conoceme .conocemeTextos .titulo {
        font-size: 3rem;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .conoceme .conocemeTextos {
        width: 50%;
        order: 2;
    }
    .conoceme .conocemeFotoCont {
        width: 50%;
        padding-bottom: 30%;
        order: 1;
    }
    .conoceme .conocemeTextos .volanta {
        font-size: 1.5;
    }
    .conoceme .conocemeTextos .titulo {
        font-size: 3.375rem;
    }
}
/* Seccion conoceme CONOCEME */
.paginaConoceme .conoceme {
    background: none;
}
.paginaConoceme .conoceme .conocemeContenedor {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.paginaConoceme .conoceme .conocemeContenedor.espejado .conocemeTextos {
    order: 1;
}
.paginaConoceme .conoceme .conocemeContenedor.espejado .conocemeFotoCont {
    order: 2;
}
.paginaConoceme .conoceme .titulo {
    font-family: "Dancing Script";
    font-size: 2.5rem;
    text-align: center;
}
.paginaConoceme .conoceme .subtitulo {
    font-family: "Dancing Script";
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem 0;
}
.paginaConoceme .conoceme .volver {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    color: #681EA8;
    transition: opacity .5s;
    z-index: 1;
}
.paginaConoceme .conoceme .volanta {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}
.paginaConoceme .conoceme .volver:hover {
    opacity: .5;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .paginaConoceme .conoceme.titulo {
        font-size: 3rem;
    }
    .paginaConoceme .conoceme .subtitulo {
        font-size: 1.65rem;
}
    .paginaConoceme .conoceme .volanta {
        font-size: 1.3rem;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .paginaConoceme .conoceme {
        margin-top: 90px;
    }
    .paginaConoceme .conoceme .titulo {
        font-size: 3.2rem;
    }
    .paginaConoceme .conoceme .subtitulo {
        font-size: 1.8rem;
    }
    .paginaConoceme .conoceme .volanta {
        font-size: 1.5rem;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .paginaConoceme .conoceme {
        margin-top: 100px;
    }
    .paginaConoceme .conoceme .titulo {
        font-size: 3.5rem;
    }
    .paginaConoceme .conoceme .subtitulo {
        font-size: 2rem;
    }
    .paginaConoceme .conoceme .volanta {
        font-size: 1.8rem;
    }
}




/* Seccion alegrias HOME */
/* vista celulares */
.alegrias {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
.alegrias .titulo {
    width: 100%;
    padding: 10px;
    font-size: 2.25rem;
    font-family: "Dancing Script";
    text-align: center;
    margin-top: 30px;
}
.alegrias .alegriasContenedor {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 5px;
}
.alegrias .alegriasContenedor .alegria {
    position: relative;
    width: calc(100% /2);
    padding: 5px;
    margin-bottom: 10px;
}
.alegrias .alegriasContenedor .alegria.alegria5 {
    display: none;
}
.alegrias .alegriasContenedor .alegria .alegriaFotoCont {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 10px;
}
.alegrias .alegriasContenedor .alegria .alegriaFotoCont .alegriaFoto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.alegrias .alegriasContenedor .alegria .alegriasTexto .firma {
    margin-top: 10px;
    font-family: "Dancing Script";
    font-weight: bold;
    text-align: right;
    font-size: 1.2rem;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .alegrias .alegriasContenedor .alegria {
        width: calc(100% /3);
    }
    .alegrias .alegriasContenedor .alegria.alegria5 {
        display: block;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .alegrias .alegriasContenedor .alegria {
        width: calc(100% /4);
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .alegrias .alegriasContenedor .alegria {
        width: calc(100% /5);
    }
    .alegrias .alegriasContenedor .alegria.alegria5 {
        display: block;
    }
}

/* Seccion armala HOME */
/* vista celulares */
.armala {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #681EA8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.armala .armalaTextos {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #F5CC14;
    order: 2;
}
.armala .armalaTextos .volanta {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 1.2rem;
}
.armala .armalaTextos .titulo {
        width: 100%;
        font-size: 2.25rem;
        font-family: "Dancing Script";
        text-align: center;
        margin-bottom: 20px;
}
.armala .armalaTextos .texto {
    margin-bottom: 20px;
}
.armala .armalaTextos .botonVer {
    width: 100%;
    padding: 5px;
    color: #FFF;
}
.armala .armalaTextos .botonVer:hover {
    color: #681EA8;
}
.armala .armalaFotoCont {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    order: 1;
    align-self: stretch;
}
.armala .armalaFotoCont .armalaFoto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .armala .armalaTextos {
        width: 50%;
        order: 1;
    }
    .armala .armalaFotoCont {
        width: 50%;
        padding-bottom: 30%;
        order: 2;
    }
    .armala .armalaTextos .volanta {
        font-size: 1.3;
    }
    .armala .armalaTextos .titulo {
        font-size: 2.625rem;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .armala .armalaTextos {
        width: 50%;
        order: 1;
    }
    .armala .armalaFotoCont {
        width: 50%;
        padding-bottom: 30%;
        order: 2;
    }
    .armala .armalaTextos .volanta {
        font-size: 1.4;
    }
    .armala .armalaTextos .titulo {
        font-size: 3rem;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .armala .armalaTextos {
        width: 50%;
        order: 1;
    }
    .armala .armalaFotoCont {
        width: 50%;
        padding-bottom: 30%;
        order: 2;
    }
    .armala .armalaTextos .volanta {
        font-size: 1.5;
    }
    .armala .armalaTextos .titulo {
        font-size: 3.375rem;
    }
}
/* Seccion alegrias ALEGRIAS */
.paginaAlegrias .alegrias .titulo {
    font-size: 2.5rem;
}
.paginaAlegrias .alegrias .volver {
    display: block;
    position: absolute;
    top: 35px;
    right: 10px;
    padding: 5px;
    color: #681EA8;
    transition: opacity .5s;
    z-index: 1;
}
.paginaAlegrias .alegrias .volanta {
    padding: 10px;
    font-family: "Dancing Script";
    text-align: center;
    font-size: 1.5rem;
}
.paginaAlegrias .alegrias .volver:hover {
    opacity: .5;
}
.paginaAlegrias .alegrias .alegriasContenedor .alegria {
    display: block;
}
/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .paginaAlegrias .alegrias.titulo {
        font-size: 3rem;
    }
    .paginaAlegrias .alegrias.volanta {
        font-size: 2rem;
    }
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .paginaAlegrias .alegrias {
        margin-top: 90px;
    }
    .paginaAlegrias .alegrias .titulo {
        font-size: 3.2rem;
    }
    .paginaAlegrias .alegrias .volanta {
        font-size: 2.1rem;
    }
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
    .paginaAlegrias .alegrias {
        margin-top: 100px;
    }
    .paginaAlegrias .alegrias .titulo {
        font-size: 3.5rem;
    }
    .paginaAlegrias .alegrias .volanta {
        font-size: 2.3rem;
    }
}




/* vista tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* vista monitores pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
/* vista monitores grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}
/* vista monitores extragrandes */
@media screen and (min-width: 1201px) {
}

/*
header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    text-align: center;
    font-size: 48px;
    padding: 34px 0 ;
    font-family: 'Dancing Script', cursive;
}
header .navbar {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 0 0 220px;
    text-align: center;   
}
header .navbar ul {
    position: relative;
}
header .navbar ul li {
    display: inline-block;
    width: 16%;
}
header .navbar ul li a {
    display: block;
    font-size: 16px;
    color: #000;
    padding: 40px 0;
}
main .promos {
    position: relative;
}
main .promos .promoVentana {
    position: relative;
    width: 100%;
    height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
}
main .promos .promoVentana .promosContenedor {
    position: relative;
    top: 0;
    right: 0;
    height: 500px;
    width: 300%;
}
main .promos .promoVentana .promosContenedor figure {
    position: relative;
    display: block;
    float: left;
    width: calc(100% / 3);
    height: 100%;
    overflow: hidden;
    margin: 0;
}
main .promos .promoVentana .promosContenedor figure img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .promos .promoVentana .promosContenedor figure figcaption {
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 32px;
}
main .promos .promosTextos {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
}
main .promos .promosTextos h2 {
    font-size: 40px;
    margin-top: 10px;
}
main .tortas {
    position: relative;
    margin: 20px 0;
}
main .tortas h2 {
    position: relative;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    font-size: 40px;
}
main .tortas .tortasContenedor {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}
main .tortas .tortasContenedor figure {
    position: relative;
    display: block;
    float: left;
    width: calc(100% / 6);
    margin: 0;
}
main .tortas .tortasContenedor figure img {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
main .tortas .tortasContenedor figure figcaption {
    width: 100%;
    text-align: center;
    font-size: 24;
    font-style: italic;
    margin-top: 10px;
    padding-bottom: 20px;
}
main .conoceme {
    position: relative;
    padding: 20px 0;
    clear: both;
    border-top: 2px solid #000;
}
main .conoceme .conocemeTextos {
    position: relative;
    width: 50%;
    padding: 20px;
}
main .conoceme .conocemeTextos h2 {
    position: relative;
    padding: 10px;
    font-size: 40px;
}
main .conoceme .conocemeTextos h3 {
    position: relative;
    padding: 30px 10px;
    font-size: 60px;
    font-weight: normal;
}
main .conoceme .conocemeTextos p {
    padding: 10px 10px;
}
main .conoceme .conocemeTextos a {
    padding: 10px 10px;
    color: #000;
}
main .conoceme figure {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    right: 0;
    width: 50%;
    margin: 0;
}
main .conoceme figure img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .alegrias {
    position: relative;
    margin: 20px 0;
}
main .alegrias table {
    width: 100%;
    border: 0;
    margin: 0;
    border-collapse: collapse;
}
main .alegrias table tr.tablaTitular {
    background-color: #000;
}
main .alegrias table tr th {
    background-color: #000;
    color: #FFF;
    width: 20%;
    border: 0;
    margin: 0;
}
main .alegrias table tr th h2 {
    position: relative;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    font-size: 40px;
    text-align-last: left;
}
main .alegrias table tr th a {
    position: relative;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    text-align-last: right;
    width: 100%;
}
main .alegrias table tr td {
    width: 20%;
    position: relative;
    padding: 5px;
}
main .alegrias table tr td figure {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
}
main .alegrias table tr td figure img {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
main .armala {
    position: relative;
    padding: 20px 0;
    clear: both;
    border-top: 2px solid #000;
}
main .armala .armalaTextos {
    position: relative;
    width: 50%;
    margin: 0 0 0 50%;
    padding: 20px;
    text-align: right;
}
main .armala .armalaTextos h2 {
    position: relative;
    padding: 10px;
    font-size: 40px;
}
main .armala .armalaTextos h3 {
    position: relative;
    padding: 30px 10px;
    font-size: 60px;
    font-weight: normal;
}
main .armala .armalaTextos p {
    padding: 10px 10px;
}
main .armala .armalaTextos a {
    padding: 10px 10px;
    color: #000;
}
main .armala figure {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0;
    width: 50%;
    margin: 0;
}
main .armala figure img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.paginaTortas .tortas {
    position: relative;
}
.paginaTortas .tortas h1 {
    padding: 120px 0 50px 0;
    text-align: center;
    font-size: 60px;
}
.paginaTortas .volver {
    position: absolute;
    right: 50px;
    top: 150px;
}
.paginaTortas .tortas h2 {
    text-align: center;
    font-size: 30px;
    padding: 0 50px 50px 50px;
    background-color: transparent;
    color: #000;
}
.paginaAlegrias .alegrias {
    padding: 120px 0 0 0;
}
.paginaAlegrias .alegrias table tr.tablaTitular {
    background-color: #FFF;
}
.paginaAlegrias .alegrias .tablaTitular th {
    background-color: #FFF;
    color: #000;
}
.paginaAlegrias .alegrias .tablaTitular h1 {
    text-align: center;
    font-size: 30px;
    padding: 0 50px 50px 50px;
    background-color: #FFF;
    color: #000;
}
.paginaAlegrias .alegrias .tablaTitular a {
    background-color: #FFF;
    color: #000;
}
.paginaEscribime {
    padding: 120px 50px 50px 50px;
}
.paginaEscribime h1 {
    padding: 0px 0 50px 0;
    text-align: center;
    font-size: 60px;
}
.paginaEscribime fieldset {
    display: block;
    border: none;
    padding: 10px;
}
.paginaEscribime fieldset legend {
    padding-top: 30px;
    font-size: 32px;
}
.paginaEscribime fieldset label {
    display: block;
    padding: 30px 10px 10px 10px;
    font-size: 20px;
}
.paginaEscribime fieldset input {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}
.paginaEscribime fieldset select {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}
.paginaEscribime fieldset textarea {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}
.paginaEscribime fieldset button {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border: none;
    width: 40%;
    margin: 0 10px;
}
*/